.category     
  position: relative 
  padding-top: 79px
  &-wrapper        
    padding-top: 61px
    border-top: 1px solid #ECEEF2  
    padding-left: 4px
  &__slider 
    position: relative   
    width: 100%
    height: 240px
  &-slider    
    &__item
      max-width: 265px
      padding-top: 40px
      text-align: center
      border: 1px solid #ECEEF2    
      border-radius: 8px      
    &__icon 
      width: 64px
      border-radius: 50%
      object-fit: cover
      margin-bottom: 35px
    &__title
      font-family: Roboto
      font-style: normal
      font-weight: 500
      font-size: 22px
      line-height: 32px
      letter-spacing: 0.2px
      margin-top: 0
      margin-bottom: 15px
      
    &__button
      position: absolute
      top: 54%
      transform: translateY(50%)
      width: 56px
      height: 56px
      background: #FFFFFF
      box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08)
      border-radius: 2000px
      background-repeat: no-repeat
      background-size: 15px 
      background-position: center  
      border: none         
      outline: none
      z-index: 5  
      cursor: pointer
      &--next 
        right: 77px      
        background-image: url(../img/arrow-next.svg)
        