.shares  
  padding-left: 6px  
  color: #959EAD
  &-wrapper
    display: flex
    justify-content: space-between    
    min-height: 236px
    padding-top: 60px    
    padding-left: 60px
    padding-right: 64px
    background-image: url(../img/shares-background.jpg)
    border-radius: 12px
  &__title
    margin-top: 0
    margin-bottom: 0
    max-width: 385px
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 48px
    letter-spacing: 0.2px
    color: #fff
  &__subscribe
    position: relative
    width: 447px
    min-height: 56px
  &__input
    width: 100%
    min-height: 56px
    padding-left: 48px
    padding-right: 170px
    margin-top: 30px
    font-weight: 600
    font-size: 16px
    line-height: 22px
    border: 1px solid #C3CAD9
    border-radius: 8px
    outline: none
  &__icon 
    position: absolute
    top: 20px
    left: 20px
    margin-top: 30px
    width: 16px
    height: 18px
  &__button 
    position: absolute
    top: 4px
    right: 4px
    margin-top: 30px
    width: 163px
    min-height: 48px
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    background: #FAAD13
    color: #fff
    border-radius: 4px
    z-index: 3
@media (max-width: 1200px)
  .shares
    &__title
      margin-top: 5px
      font-size: 27px
  